<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>goodcrawler</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>crawler</display-name>
    <servlet-name>crawler</servlet-name>
    <servlet-class>org.sbs.web.CrawlerManager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>crawler</servlet-name>
    <url-pattern>/crawler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>start</display-name>
    <servlet-name>start</servlet-name>
    <servlet-class>org.sbs.web.Start</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>start</servlet-name>
    <url-pattern>/start</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>stop</display-name>
    <servlet-name>stop</servlet-name>
    <servlet-class>org.sbs.web.Stop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>stop</servlet-name>
    <url-pattern>/stop</url-pattern>
  </servlet-mapping>
</web-app>